
body {
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
}
[data-whatinput='mouse'] :focus,
[data-whatinput='touch'] :focus {
    outline: none;
}